.hide {
  transition: all 0.3s;
  transform: translateX(-100%);
}
.show {
  transform: translateX(0%);
  transition: all 0.3s;
  position: absolute;
  z-index: 10;
}
.navbarContainer {
  height: 60px;
  @apply bg-primary border-solid border-white border-b-2 w-[100vw];
}
.hamburger_logo{
  position: absolute;
  top:12px;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.brand {
  @apply cursor-pointer text-xl tracking-widest text-white font-bold;
}
.hamburger {
  /* position: absolute; */
  width: 30px;
  height: 30px;
  /* top: 12px; */
  /* left: 10px; */
  cursor: pointer;
  @apply bg-primary
}
.hamburgerIcon{
  color: white;
}
.hamburgerIcon:hover{
  color:"#B88B05";
}

.hamburger{
  color:white;
}
