.hide {
  transition: all 0.3s;
  transform: translateX(-100%);
}
.show {
  transform: translateX(0%);
  transition: all 0.3s;
  position: absolute;
  z-index: 10;
}
.navbarContainer {
  height: 60px;
  @apply border-solid border-navbar-border border-b-2 w-[100vw];
}
.hamburger {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 12px;
  left: 10px;
  background-color: white;
  cursor: pointer;
}
